
@import 'fonts';

body{
	font-family: 'Montserrat', sans-serif;
	background: $bg-primary url('/img/greenerland_bg.jpeg') 0 0 no-repeat;
	background-size: cover;
}

main, aside {
	display: block;
}


// Dynamic HTML loaded from Wordpress
#intervention-content {

	pre {
		background-color: rgba(0, 0, 0, 0.01);
		border: 1px solid #eaeaea;
		border: 1px solid rgba(51, 51, 51, 0.1);
		line-height: 1.2;
		margin-bottom: 1.6em;
		max-width: 100%;
		overflow: auto;
		padding: 0.8em;
		white-space: pre-wrap;
		word-wrap: break-word;
		font-size: 0.875rem;
		max-width: 75%;
	}

	h2 {
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 1.5rem;
	}

	p {
		margin-bottom: 1rem;
	}

	a {
		color: rgb(25, 67, 219);
		transition: all 0.2s ease-out;
		padding-bottom: 1px;
		border-bottom: 1px solid rgb(22, 86, 212);
	}
	a, a:visited {
		// text-decoration: underline;
		color: rgb(47, 76, 205);
	}
	a:hover, a:visited:hover {
		padding-bottom: 0;
		color:rgb(56, 159, 56);
		border-bottom: 1px solid rgb(87, 175, 87);
		transition: all 0.12s ease-in-out;
	}

	table, td, th {
		border: 1px solid rgb(188, 211, 188);
		padding: 3px 6px;
		margin-bottom: 6px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	ul {
		list-style-position: inside;
		list-style-type: disc;
		margin: 0 0 21px 6px;
		padding: 0;
	}



}
